// app global css in SCSS form
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.woff2') format('woff2'),
         url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}